body {
	background-color: #8dd354;
	color: rgb(158, 50, 50);
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}
